head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title ReactCookSent
  meta(name='description', content='')
  meta(name='robots', content='index, follow')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

  meta(property='og:locale', content='fr_FR')
  meta(property='og:type', content='website')
  meta(property='og:title', content='ReactCookSent')
  meta(property='og:url', content='')
  meta(property='og:site_name', content='')

  include styles.pug
