link(href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css', rel='stylesheet' type='text/css')
style(type="text/css").
  body {
    font-family: sans-serif;
  }

  .flex {
    display: flex;
  }

  .p-4 {
    padding: 1rem;
  }

  .mt-4 {
    margin-top: 1rem;
  }

  code {
    display: flex;
    border: dotted 1px #aaa;
    background-color: #ddd;
    padding: 1rem;
  }

  main button {
    border: 0;
    background-color: green;
    padding: 1rem 2rem;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    color: #eee;
  }

//- Style for the component
style(type="text/css").
  .cooksent {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5rem;
    background-color: #333;
    color: #eee;
  }

  .cooksent__title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .cooksent__body {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
  }

  .cooksent__btn {
    width: 100%;
    background-color: #eee;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }
